<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="connStr" connectionString="Data Source=DESKTOP-DMOU63U;Initial Catalog=c#;Persist Security Info=True;User ID=wmg;Password=123456" />
	    <add name="train.Properties.Settings.trainConnectionString" connectionString="Data Source=(local);Initial Catalog=train;Persist Security Info=True;User ID=sa"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>