USE [c#]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2021/5/30 21:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[name] [nchar](20) NULL,
	[number] [char](10) NOT NULL,
	[sex] [nchar](10) NULL,
	[IdentityNumber] [char](18) NULL,
	[Birthplace] [nchar](100) NULL,
	[nation] [nchar](50) NULL,
	[politic] [nchar](100) NULL,
	[phone] [char](11) NULL,
	[birthday] [date] NULL,
	[InDay] [date] NULL,
	[OutDay] [date] NULL,
	[xueyuan] [nchar](30) NULL,
	[zhuanye] [nchar](30) NULL,
	[teacher] [nchar](20) NULL,
	[education] [nchar](10) NULL,
	[Employed] [nchar](10) NOT NULL,
	[companyName] [nchar](100) NULL,
	[companyAddr] [nchar](100) NULL,
	[companyPostcode] [char](6) NULL,
	[station] [char](100) NULL,
	[salary] [char](10) NULL
) ON [PRIMARY]
GO
